<form action="/add_client" method="post">
    <div class="form-group">
        <label for="input-client-name">Name:</label>
        <input id="input-client-name" name="input-client-name" class="form-control" type="text" placeholder="Enter name" required>
        <h3>Assign Stylist to New Client</h3>

        <select id="stylist_id" name="stylist_id" type="text">
            {% for stylist in stylists %}
                <option value="{{stylist.getId}}">{{stylist.getStylistName}}</option>
            {% endfor %}
        </select>
        <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>
