<!DOCTYPE html>
<html>
    {% include "partials/index_header.html" %}
    <body>
        <div class="container home-page">
            <h1 id="brand">Furrocious Cuts</h1>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-default"><a href="/stylists">Manage Stylists</a></button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default"><a href="/clients">Manage Clients</a></button>
                </div>
            </div>
        </div>
    </body>
</html>
