<!DOCTYPE html>
<html>
    {% include "partials/stylists_header.html" %}
    <body>
        <div class="container">
            <h1 id="brand">Stylists</h1>
            <div class="row">
                <div class="col-md-6">
                    <h3>Stylists</h3>
                    {% if stylists is not empty %}
                        <ul class="list-group">
                            {% for stylist in stylists %}
                                <li class="list-group-item">
                                    <a href="/stylists/{{ stylist.getId }}"> {{ stylist.getStylistName }} </a></li>
                            {% endfor %}
                        </ul>
                        <form action='/delete_stylists' method='post'>
                            <button class="btn btn-danger btn-sm" type='submit'>Delete All</button>
                        </form>
                    {% else %}
                    <p><em>There are currently no stylists</em></p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h3>Add New</h3>
                    {% include "partials/stylist_form.html"%}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 back-button">
                    <form action="/">
                        <button type="submit" class="btn btn-default push-right"><< Go Back</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
