<!DOCTYPE html>
<html>
    {% include "partials/stylists_header.html" %}
    <body>
        <h1>{{ stylist.getStylistName }}</h1>

        {% if clients is not empty %}
            <ul class="list-group">
                {% for client in clients %}
                    <li class="list-group-item">
                        {{ client.getClientName }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </body>
</html>
