body {
    background-image: url('../img/cat.jpg');
    font-family: 'avenir', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    height: 100%;
    width: auto;
}

.home-page .row {
    text-align: center;
}

#brand {
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2.5em;
    text-shadow: 4px 4px 4px white;
    -webkit-text-shadow: 4px 4px 4px white;
    -moz-text-shadow: 4px 4px 4px white;
    -ms-text-shadow: 4px 4px 4px white;
}

.container {
    max-width: 60%;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.container:nth-child(2) {
    background-color: transparent;
}

button {
    margin: 2px;
}

.main-menu {
    display: block;
    max-with: 50%;
}

.back-button {
    margin-top: 15px;
}
