body {
    background-image: url('../img/cat.png');
    font-family: 'avenir', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    height: 100%;
    width: auto;
}

a {
    color: #000000;
}

.home-page .row {
    text-align: center;
}

#brand {
    text-align: center;
    display: block;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2.75em;
    font-weight: bold;
    color: #FFCC00;
    text-shadow: -1px 1px 1px black;
    -webkit-text-shadow: -1px 1px 1px black;
    -moz-text-shadow: -1px 1px 1px black;
    -ms-text-shadow: -1px 1px 1px black;
}

@media screen and (min-width: 520px) {
    #brand {
        font-size: 5.0em;
    }
}

.container {
    width: 60%;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.home-page {
    background-color: transparent;
}

button {
    margin: 2px;
}

.main-menu {
    display: block;
    max-with: 50%;
}

.back-button {
    margin-top: 15px;
}
